body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}
h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
}
h2 {
  font-size: 2.5em;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
p {
  line-height: 2;
}
li {
  font-family: 'Montserrat', sans-serif;
  float: left;
  color: #11999E;
}
.top-container {
  background-color: #C7E8CA;
  position: relative;
  padding-top: 100px;
}
.cloud1 {
  position: absolute;
  right: 300px;
  top:40px;
}
.cloud2 {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.mountain {
  height: 400px;
}
.middle-container {
  margin: 100px 40px;
}
.me {
  width: 200px;
}
.intro {
  width: 30%;
  margin:auto;
}
.skill-row {
  width: 45%;
  margin:40px auto 150px ;
  text-align: left;
  flex-wrap: wrap;
}
.python-image {
  width: 30%;
  float: left;
  margin-right: 30px;
}
.skill-image {
  width: 50%;
  float: left;
  margin-right: 30px;
}
.component-image {
  width: 50%;
  float: left;
  margin-right: 30px;
}

.portofolio {
    width: 80%;
    margin:50px auto 100px auto;
    flex-wrap: wrap;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
.project-description {
  float: left;
  text-align: justify;
}

.project {
  margin: 20px;
  text-align: justify;
  font-family: 'Merriweather', serif;
  color: #40514E;

}
.results-description {
  float: left;
  text-align: justify;
  margin: 40px 9px 40px;
}

.result-description {
  float: left;
  text-align: justify;
  width: 1000px;
  margin: 10px;
}
ol {
  float: left;
  text-align: justify;
  margin: 40px 100px 40px;
}
th {
  text-align: centre;
  margin: 10px 200px ;
}


.button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
td {
    margin: auto 20px;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container {
  background-color: #66BFBF;
  height: 150px;
}
.footer-link {
  display: inline-block;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  margin: 30px;
}
.footer-link:hover {
  color: #EAF6F6;
}
.copyright {
  font-family: 'Montserrat', sans-serif;
  padding: 20px 0 0;
}



